POSTGRES_DB=b89
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql://postgres:password@db:5432/b89
JWT_SECRET=mi_access_super_secreto
JWT_REFRESH_SECRET=mi_refresh_super_secreto
SMTP_USER=correo
SMTP_PASS=clave de 4 digitos
FRONTEND_URL=http://localhost:3000